* {
    /* WEBSITE COLORS */
    --background-color-dark: #121212;
    --primary-text-dark: #E0E0E0;
    --secondary-text-dark: #B0B0B0;
    --border-dividers-dark: #444444;

    /* FONT SIZES */
    --step--2: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
    --step--1: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
    --step-0: clamp(1rem, 0.9rem + 0.4vw, 1.125rem);
    --step-1: clamp(1.25rem, 1rem + 0.8vw, 1.5rem);
    --step-2: clamp(1.5rem, 1.2rem + 1vw, 2rem);
    --step-3: clamp(2rem, 1.5rem + 1.5vw, 2.5rem);
    --step-4: clamp(2.5rem, 2rem + 2vw, 3.5rem);
}